body{
    width:100%;/*comprimento*/
    background-color: rgb(132, 135, 137);/*Cor de fundo*/

}

header{
    display: flex;/* muda a disposição para horizontal*/
    justify-content: space-between;/* coloca os elementos nos extremos do container*/
    background-color: rgb(222, 168, 202);/*Cor de fundo*/
    padding: 20px;/*espaçamento interno do elementos*/
    align-items: center;/*Alinhamento vertical dos elementos*/
}


.cabecalho_imagem{

    width: 200px;/*comprimento*/
    height: 200px;/*Altura*/
    border-radius: 50%;/*arredonda a borda nesse caso deica a imagem redonda*/

}

.cabecalho_menu-listaitem{
    display: inline;/* muda a disposição para horizontal*/
    text-transform: uppercase;/* deixa as letras maiúsculas*/
    margin-left: 20px;/* espaçamento externos a esquerda*/
}

.sobre{
    display: flex;/* muda a disposição para horizontal*/
    justify-content: center;/*Alinhamento horizontal dos elementos*/
    align-items: center;/*Alinhamento vertical dos elementos*/
    padding: 20px;/*espaçamento interno do elementos*/
}

.sobre_imagem{
    width: 400px;
    height: 400px;
    padding: 20px;
}

.sobre_texto{
  text-align: justify;/*justifica o texto*/
  width: 400px ;  
}

.elementos{
display: flex;
flex-wrap: wrap;/*faz com que o elementos que quebrem a linha*/

}

.container{
 border: 2px solid black; /*coloca uma borda preta solida de 2 pixel*/
 padding: 20px;
 text-align: center;
}

.elementos_container-imagem{

    width: 300px;
    height: 300px;

}
